@import "mixins.scss";
@import "global/normalize.scss";
@import "global/fonts.scss";
@import "variables.scss";

@import "blocks/logo.scss";
@import "blocks/form.scss";
@import "blocks/field.scss";
@import "blocks/btn.scss";
@import "blocks/image-block.scss";

body {
  font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  font-weight: 300;
}

.page-container {
  @include clearfix;
  width: 1463px;
  min-height: 830px;
  margin: 0 auto;
}

.content {
  width: 31%;
  float: left;
  padding: 0 5%;
  
  @media (max-width: $bp-mobile) {
    width: 90%;
  }
}

input:not(:placeholder-shown):required:invalid {
  border:1px solid red;
}

input:required:valid {
	border:1px solid green;
}

input:focus::-webkit-input-placeholder {
  color: transparent
}

input:focus::-moz-placeholder {
  color: transparent
}

input:focus:-moz-placeholder {
  color: transparent
}

input:focus:-ms-input-placeholder {
  color: transparent
}