@font-face {
  font-family: "HelveticaNeueCyr Roman";
  src: url("../fonts/HelveticaNeueCyr_Roman.otf") format("OpenType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr Light";
  src: url("../fonts/HelveticaNeueCyr_Light.otf") format("OpenType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr Medium";
  src: url("../fonts/HelveticaNeueCyr_Medium.otf") format("OpenType");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "HelveticaNeueCyr Bold";
  src: url("../fonts/HelveticaNeueCyr_Bold.otf") format("OpenType");
  font-style: normal;
  font-weight: bold;
}